@model EscuelasVista
@if (Model.escuelas != null && Model.escuelas.Count > 0)
{ 
    <div style="text-align:center;">
        <table id="grilla" align="center" width="925px" cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th height="30px" width="300px">
                        <div align="left">Escuela</div>
                    </th>
                    <th width="200px">
                        <div align="left">Barrio</div>
                    </th>
                    <th width="200px">
                        <div align="left">Localidad</div>
                    </th>
                    <th width="70px">
                        <div align="left">Acciones</div>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.escuelas)
                {
                    <tr>
                        <td style="height: 28px; text-align: left;">
                            @item.Nombre_Escuela
                        </td>
                        <td style="text-align: left;">
                            @(item.barrio.ID_BARRIO == 0 ? item.Barrio.ToMaxLenght(100) : item.barrio.N_BARRIO.ToMaxLenght(100))
                        </td>
                        <td style="text-align: left;">
                            @item.LocalidadEscuela.NombreLocalidad.ToMaxLenght(100)
                        </td>
                        
                        <td>
                            @Html.ActionLink("Ver", "Ver", "Escuelas", new { IdEscuela = item.Id_Escuela }, new { @class = "Lupa", title = "Ver Escuela" })
                            @Html.ActionLink("Modificar", "Modificar", "Escuelas", new { IdEscuela = item.Id_Escuela }, new { @class = "Modificar", title = "Modificar Escuela" })
                            @*@Html.ActionLink("Eliminar", "Eliminar", "Personas", new { IdCarrera = item.IdCarrera }, new { @class = "Eliminar", title = "Eliminar Carrera" })*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <table align="center" width="930px" cellpadding="0" cellspacing="0">
        <tr>
            <td width="930px">
                @Html.Partial("_SinDatos", "Escuelas")
            </td>
        </tr>
    </table>
}

