@model RolesVista
@{
    ViewBag.Title = "Roles";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var acciones = ViewData["Acciones"] as IList<string>;
}
@section Scripts{
    @Content.Script("SGE.Roles.js", Url)
}
<div class="box">
    <h2>
        Listado de Roles</h2>
    @using (Html.BeginForm("IndexPager", "Roles", FormMethod.Post, new { Id = "FormIndexRoles" }))
    {
        <table style="width: 930px; text-align: center; margin-left: auto; margin-right: auto;">
            <tr>
                <td>
                    <fieldset style="width: 925px;">
                        <legend><b>Filtros</b></legend>
                        <table width="100%">
                            <tr>
                                <td style="width: 20%; text-align: right;">
                                    <b>Rol : </b>
                                </td>
                                <td style="width: 80%; text-align: left;">
                                    @Html.TextBoxFor(c => c.NombreBusqueda, new { style = "width: 400px;", MaxLength = "50" })
                                </td>
                            </tr>
                        </table>
                        <div class="div-filtro">
                            <div class="div-filtro-btn">
                                <p>
                                <a class="btnIngresar" href="#" id="Buscar">Buscar</a>&nbsp;&nbsp;
                                @{
        if (acciones.Contains(((int)Enums.Acciones.Agregar).ToString()))
                                    {
                                        @Html.ActionLink("Agregar", "Agregar", "Roles", null, new { Class = "btnIngresar" })
                                    }
                                }</p>
                            </div>
                        </div>
                    </fieldset>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td>
                   
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td style="font-weight: bold">
                    <div id="titulo">
                    </div>
                    <div id="DivSuperviciones">
                        @Html.Partial("_Lista", Model)
                    </div>
                </td>
            </tr>
        </table>
        @Html.Partial("_Pager", Model.Pager)
    }
</div>
